PORT=3000
SESSION_SECRET=my_secret_key
NODE_ENV=development
CORS_ORIGIN=*
ADMIN_BOOTSTRAP=true
ADMIN_USER=admin
ADMIN_PASSWORD=admin
SCM_USERNAME=
SCM_PASSWORD=
HEADLESS_MODE=true
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
AUTO_SCHEDULE_ENABLED=false
SCHEDULE_TIME=0 6 * * *
EMAIL_TO=
EMAIL_CC=
